<ion-header class="ion-no-border">
  <ion-toolbar color="ideaToolbar">
    <ion-title>ITcom trainings</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="app.reloadApp()">
        <ion-icon name="refresh" slot="icon-only" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="maxWidthContainer">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">
          <h2>Welcome</h2>
        </ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-row>
      <ion-col>
        <ion-button expand="block" routerLink="/books">{{ 'BOOKS.BOOKS' | translate }}</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
