<ion-header>
  <ion-toolbar>
    @if(!editMode) {
    <ion-buttons slot="start">
      <ion-button (click)="goBackToList()">
        <ion-icon icon="arrow-back" slot="icon-only" />
      </ion-button>
    </ion-buttons>
    }
    <ion-title>{{ getTitle() }}</ion-title>
    @if(isMyBookOrNew()) {
    <ion-buttons slot="end">
      @if(editMode) {
      <ion-button [title]="'COMMON.EXIT_EDIT_MODE' | translate" (click)="exitEditMode()">
        <ion-icon slot="icon-only" icon="close-circle" />
      </ion-button>
      <ion-button [title]="'COMMON.SAVE_CHANGES' | translate" (click)="save()">
        <ion-icon slot="icon-only" icon="checkmark-circle" />
      </ion-button>
      } @else {
      <ion-button [title]="'COMMON.ENTER_EDIT_MODE' | translate" (click)="enterEditMode()">
        <ion-icon slot="icon-only" icon="pencil" />
      </ion-button>
      <ion-button [title]="'COMMON.ACTIONS' | translate" (click)="openActions()">
        <ion-icon slot="icon-only" icon="ellipsis-horizontal" />
      </ion-button>
      }
    </ion-buttons>
    }
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" [class.viewMode]="!editMode">
  @if(book) {
  <ion-list class="aList maxWidthContainer">
    <p class="ion-text-center">
      <ion-img class="coverImage" [src]="getCoverURL(book)" (ionError)="setCoverFallbackURLOnImage($event?.target)" />
      <input id="book-cover" type="file" accept="image/*" style="display: none" (change)="uploadCover($event)" />
      @if(editMode) {
      <ion-button fill="clear" color="medium" (click)="browseImagesForCover()">
        <ion-icon icon="cloud-upload" slot="icon-only" />
      </ion-button>
      }
    </p>
    <ion-input
      fill="outline"
      labelPlacement="stacked"
      [label]="'BOOKS.TITLE' | translate"
      [disabled]="!editMode"
      [class.fieldHasError]="hasFieldAnError('title')"
      [(ngModel)]="book.title"
    />
    <ion-select
      interface="popover"
      fill="outline"
      labelPlacement="stacked"
      [class.fieldHasError]="hasFieldAnError('genre')"
      [label]="'BOOKS.GENRE' | translate"
      [disabled]="!editMode"
      [(ngModel)]="book.genre"
    >
      @for (genre of bookGenres; track $index) {
      <ion-select-option [value]="genre">{{ genre }}</ion-select-option>
      }
    </ion-select>
    <ion-input
      fill="outline"
      labelPlacement="stacked"
      [label]="'BOOKS.AUTHOR' | translate"
      [disabled]="!editMode"
      [class.fieldHasError]="hasFieldAnError('author')"
      [(ngModel)]="book.author"
    />
    @if(editMode !== UXMode.INSERT) {
    <ion-input
      fill="outline"
      labelPlacement="stacked"
      disabled
      [label]="'BOOKS.PUBLISH_DATE' | translate"
      [value]="book.publishDate | date"
      [class.fieldHasError]="hasFieldAnError('publishDate')"
    />
    }
    <ion-textarea
      fill="outline"
      labelPlacement="stacked"
      [label]="'BOOKS.DESCRIPTION' | translate"
      [disabled]="!editMode"
      [rows]="4"
      [class.fieldHasError]="hasFieldAnError('description')"
      [(ngModel)]="book.description"
    />
  </ion-list>
  }
</ion-content>
